:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

body, html {
  height: 100vh;
}

.main {
  height: 100%;
  background-color: #576574;
}

.title {
  text-align: center;
  background-color: #341f97;
  color: #fff;
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label, input {
  display: block;
  text-align: center;
  width: 100%;
}

input {
  margin-top: 1rem;
}

.content {
  width: 75%;
  margin: 0 auto;
}

.content > div {
  margin: 1rem auto;
  text-align: center;
}

.inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.single-input {
  flex: 1 1 auto;
  padding: 1rem;
  border: 0.05rem solid #341f97;
  border-radius: 0.25rem;
  text-align: center;
  margin: 0.25rem;
  color: #fff;
  font-size: 1.5rem;
}

.background-image {
  max-width: 65%;
  max-height: 65%;
  background: var(--base);
  padding: var(--spacing);
  filter: blur(var(--blur));
}
