@import '../styles/style-variables.css';

body {
    margin: 0 ;
    min-height: 100vh ;
    padding: 0 ;
    background: var(--light-brown);
    color: var(--dark-blue);
    position: relative;
    font-family: "Courier New", monospace;
    font-weight: bold;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid;
    border-radius: 25px;
    padding: 2%;
    max-width: 50%;
    background: var(--form-background);
}

.header {
    text-align: center;
}

.form-input {
    margin: 4% auto;
    position: relative;
    width: 250px;
}

label {
    display: block;
}

input, textarea {
    border: 3px solid var(--light-gray);
    background: none;
    position: relative;
    top: 0;
    left: 0;
    padding: 8px 12px;
    outline: none;
}

.fill-label {
    position: absolute;
    transition: 0.2s;
    color: var(--dark-blue);
    top: 0;
    left: 0;
    padding: 10px 12px;
    width: 100%;
}

input:focus, textarea:focus {
    border-color: var(--reddish);
}

input:focus + .fill-label,
textarea:focus + .fill-label {
    margin-left: 40%;
    font-size: 60%;
    padding: 2px 15px;
    z-index: 2;
    text-transform: uppercase;
    color: var(--black);
    width: 100%;
}

input:valid + .fill-label,
textarea:valid + .fill-label {
    opacity: 0;
}

.opinion {
    margin: 0 auto;
}





