@import '../styles/style-variables.css';
@import '../styles/reset.css';

html, body {
    box-sizing: border-box;
    background: var(--light-brown);
    color: var(--dark-blue);
    font-family: "Courier New", monospace;
    font-weight: bold;
    font-size: 8px;
}

.main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    background: var(--darker-brown);
    font-size: 2rem;
}

.main > div {
    flex: 1;
}

.header {
    margin: 3%;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 3%;
}

.form-input {
    margin: 4% auto;
    position: relative;
    width: 200px;
}

label {
    display: block;
    font-size: 2rem;
}

.choose-label {
    margin-bottom: 3%;
    font-size: 2rem;
}

input, textarea {
    border: 3px solid var(--light-gray);
    background: none;
    position: relative;
    top: 0;
    left: 0;
    padding: 8px 12px;
    outline: none;
}

.fill-label {
    position: absolute;
    transition: 0.2s;
    color: var(--dark-blue);
    top: 0;
    left: 0;
    padding: 10px 12px;
    width: 100%;
}

input:focus, textarea:focus {
    border-color: var(--reddish);
}

input:focus + .fill-label,
textarea:focus + .fill-label {
    margin-left: 30%;
    font-size: 1.5rem;
    padding: 2px 15px;
    text-transform: uppercase;
    color: var(--black);
    width: 100%;
}

input:valid + .fill-label,
textarea:valid + .fill-label {
    opacity: 0;
}

input:hover,
textarea:hover  {
    border-color: var(--reddish);
}

#dropdown {
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

.opinion {
    margin: 0 auto;
}

.button-submit {
    margin: 0 auto;
    display: block;
    width: 150px;
    text-align: center;
    padding: 10px;
    background: var(--darker-brown);
    border: 2px solid var(--dark-blue);
    box-shadow: 1px 1px;
    border-radius: 10px;
}

@media screen and (min-width: 968px) {
    .main {
        margin: 1% auto;
        border-radius: 25px;
        border: 2px solid;
        max-width: 30%;
        padding: 0;
    }
}


