$header-color: #edd9c0;

.wrapper {
  display: grid;
}

.navigation {
  background: $header-color;
}

.nav-menu {
  display: flex;
  list-style: none;
  justify-content: space-around;
  line-height: 50px;

  .menu-item a {
    text-decoration: none;
  }
}

.content {
  height: 50px;
  width: 100%;
}

.section-works {
  background: #c9d8c5;
}

.section-tools {
  background: #a8b6bf;
}

.footer {
  background-color: #7d4627;
}