$header-color: #edd9c0;
$header-font-color: #7d4627;
$header-border-item: #6d6c6c;

.wrapper {
  display: grid;
}

.navigation {
  background: $header-color;
}

.nav-menu {
  display: flex;
  line-height: 50px;
  justify-content: center;

  .menu-item {
    text-align: center;
    width: 100%;
    border-left: 1px solid $header-border-item;
    flex: 0 0 20%;
    transform: skew(-20deg);

    :after {
      background: blue;
      content: '';
      width: 50px;
      height: 100px;
    }
       
    & a {
      display: inline-block;
      text-decoration: none;
      color: $header-font-color;
      font-size: 1.5rem;
      transform: skew(20deg);
    }
    
    &:last-child {
      border-right: 1px solid $header-border-item;
    }
  }
}

.content {
  height: 23vh;
  width: 100%;
}

.section-works {
  background: #c9d8c5;
}

.section-tools {
  background: #a8b6bf;
}

.footer {
  background-color: #7d4627;
}