$header-color: #edd9c0;
$header-font-color: #7d4627;
$header-border-item: #6d6c6c;
$section-color: #c9d8c5;
$hover: #c9d8c5;
$bar: #250202;

.wrapper {
  display: grid;
}

.navigation {
  background: $header-color;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-header {
  flex: 0 0 60%;
}

.nav-bars {
  flex: 0 0 10%;
  border: 1px solid $bar;
  border-radius: 5px;
  height: 30px;
  padding: 2px;
  margin-right: 2rem;
  cursor: pointer;
  z-index: 2;
}

.bar {
  height: 6px;
  width: 75%;
  background: $bar;
  margin: 3px auto;
}

.nav-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background: $header-color;
  z-index: 1;

  .menu-item {
    text-align: left;
    width: 100%;
    transition: 0.5s;
    margin-top: 0.5rem;
    margin-left: 0.5rem;

    &:hover {
      box-shadow: inset 0 0 0 2em $hover;
    }
           
    & a {
      display: block;
      text-decoration: none;
      color: $header-font-color;
      font-size: 1rem;
    }
  }
}

.content {
  padding: 2rem auto;
  text-align: center;
  padding: 0.5rem;
}

.section-works {
  background: #c9d8c5;
}

.section-tools {
  background: #a8b6bf;
}

.title {
  font-size: 2rem;
}

.card {
  width: 50px;
  height: 50px;
  background-color: chocolate;
  margin: 1rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: auto 20%;

  .logo {
    flex: 0 0 30%;
    margin: 1rem;
  }
}

.tool-logo {
  width: 100px;
  height: auto;
}

.contact {
  background-color: #7d4627;
}