.wrapper {
  display: grid; }

.navigation {
  background: #edd9c0;
  height: 50px;
  opacity: 0.5;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.menu-icon {
  flex: 0 0 10%;
  border: 1px solid #250202;
  border-radius: 5px;
  height: 30px;
  padding: 2px;
  margin-right: 2rem;
  cursor: pointer; }

.bar {
  height: 6px;
  width: 75%;
  background: #250202;
  margin: 3px auto; }

.nav-menu {
  display: none;
  justify-content: center; }
  .nav-menu .menu-item {
    text-align: center;
    width: 100%;
    flex: 0 0 15%;
    transform: skew(-20deg);
    transition: 0.5s; }
    .nav-menu .menu-item:hover {
      box-shadow: inset 0 0 0 2em #c9d8c5; }
    .nav-menu .menu-item a {
      display: block;
      text-decoration: none;
      color: #7d4627;
      font-size: .5rem;
      transform: skew(20deg); }

.content {
  padding: 2rem auto;
  text-align: center;
  padding: 0.5rem; }

.section-works {
  background: #c9d8c5; }

.section-tools {
  background: #a8b6bf; }

.title {
  font-size: 2rem; }

.card {
  width: 50px;
  height: 50px;
  background-color: chocolate;
  margin: 1rem; }

.projects {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: auto 20%; }
  .projects .logo {
    flex: 0 0 30%;
    margin: 1rem; }

.tool-logo {
  width: 100px;
  height: auto; }

.contact {
  background-color: #7d4627; }
