* {
  box-sizing: border-box;
}

body {
  background: #324E78;
  color: #ecf0f1;
}

header, 
section {
  margin: 0 auto;
}

.content-container {
  background: #536D93;
  height: 100%;
  text-align: center;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

.project-container {
  margin: 3% auto;
  width: 80%;
  position: relative;
  border: 3px solid #324E78;
  z-index: 1;
  transition: all 0.3s ease;
}

.project-link {
  display: block;
  text-decoration: none;
  color: #ecf0f1;
  height: 100%;
  padding: 5%;
  font-size: 1.25rem;
  transition: all 0.3s ease;
}

.project-link:after,
.project-link:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  opacity: 0;
  transition: all 0.3s ease-in;
  background: #324E78;
  z-index: -1;
}

.project-link:before {
  right: 0;
  left: inherit;
}

.project-link:hover:before,
.project-link:hover:after {
  width: 50%;
  opacity: 1;
}

.project-container:hover {
  border: 3px solid #ecf0f1;
}

@media screen and (min-width: 768px) {
  .project-container {
    margin: 1% auto;
    width: 30%;
  }

  .project-link {
    font-size: 1.5rem;
  }
}
